# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# Data & Output (Modify according to your needs)
data/
datasets/
*.zip
*.csv
*.json
*.pt
*.pth

# IDEs
.idea/
.vscode/
*.swp
